[Unit]
Description=My program description

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Web_scraping/automotivesuperstore/
ExecStart=/usr/bin/python3 /home/ubuntu/Web_scraping/automotivesuperstore/automotivesuperstore_product-list2.py

[Install]
WantedBy=multi-user.target
